*{
    margin: 0px;
    padding: 0px;
}


ul{
    display: flex;
    background-color: black;
    list-style-type: none;
    justify-content: space-evenly;
    opacity: 80%;
    
   
}

li{
    
    margin-top: 1.5%;
    margin-bottom: 1.5%;
 

    
}

a{
    color: white;
   
}
img{
 
    width: 700px;
    height: 700px;
    margin-left: 23%;
    border: 2px solid red;
    
  
}